@font-face {
  font-family: "Inter_Bold";
  src: url("./fonts/Inter-Bold.otf");
}

@font-face {
  font-family: "Inter_Light";
  src: "Times New Roman", "Times", serif;
}

@font-face {
  font-family: "Inter_Medium";
  src: url("./fonts/Inter-Medium.otf");
}

#homx {
  border-width: 1px;
  border-bottom-style: solid;
}

body {
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 7px;
}
​ p a {
  text-decoration: underline;
}

body {
  background-color: rgb(255, 255, 255);
  padding: 2vw 24vw;
  font-size: 18px;
  font-family: "Inter_Light";
  color: black;
}

@media screen and (max-width: 1100px) {
  body {
    padding: 8%;
  }
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: black;
  border-bottom-style: dashed;
  border-width: 1px;
}

p a {
  border-bottom-style: solid;
  border-width: 1px;
}

#nav {
  font-family: "Inter_Medium";
  font-size: 18px;
}

#pill {
  font-family: "Inter_Medium";
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  color: white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 3px;
  margin-left: 0px;
  cursor: pointer;
}

#pill:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom-style: dashed;
  border-width: 0.5px;
}

#nav a {
  margin-right: 10px;
  color: black;
  border-bottom-style: solid;
  border-width: 1px;
}

#nav a:hover {
  border-bottom-style: dashed;
}

#seperator {
  text-align: center;
}

#hero {
  font-family: "Inter_Bold";
  font-size: 32px;
  margin-bottom: 8px;
}

#title {
  font-family: "Inter_Medium";
  font-size: 24px;
}

#link {
  text-decoration: none;
  color: black;
  border-bottom-style: solid;
  border-width: 1px;
}

#link:hover {
  border-bottom-style: dashed;
}

#blog {
  font-family: "Inter_Light";
}

#blog a {
  text-decoration: none;
  color: black;
  border-bottom-style: solid;
  border-width: 1px;
}

#blog a:hover {
  border-bottom-style: dashed;
  border-width: 1px;
}

#blog #date {
  font-size: 14px;
  margin-right: 20px;
}

#blog li {
  list-style: none;
}

#blog #title {
  font-family: "Inter_Medium";
  font-size: 24px;
}

.wrap {
  position: relative;
  padding: 0;
  margin: 0;
}

.easter-egg {
  width: 200px;
  /* outline: solid black 1px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  cursor: pointer;
}

.easter-egg-span {
  position: absolute;
  left: 210px;
  top: 0;
  z-index: -1;
}

.easter-egg:hover {
  overflow: visible;
  white-space: normal;
  width: auto;
  background-color: #fff;
}

#yellow-highlight {
  background-color: #ffffe0;
  cursor: pointer;
}

#purple-highlight {
  background-color: #e6e6ff;
  cursor: pointer;
}
